{% extends "blog/base.html" %}

{% block content %}

    <div class="container" style="background:white; padding:20px; border-radius: 5px; margin-top:10px;">
        <h2 style="color: #444444; font-weight:bold; font-style: sans-serif;"> Blog Website</h2><hr>
        <h5>This Blog website is designed by kaleab zewdie. it is public website so any one can use freely and can see others post and also he can post his own.</h5>
        <p>...</p>
        <p>...</p>
        <p>...</p>
      
    </div>
{% endblock content %}