{% extends "blog/base.html" %}

{% block content %}

    <div class="container" style="background:white; padding:20px; border-radius: 5px; margin-top:10px;">
       <br>
       
        <h3 > <p style='color:SlateBlue; font-weight:bold; font-family:"Times New Roman"'> <i class="fa-sharp fa-solid fa-face-smile fa-fade"></i> Welcome to the Community!</p></h3><hr>
        Imagine a space where you can connect with like-minded people, share your passions, and engage in vibrant discussions. That's what Kal_Blog is all about!<br><br>
        We're more than just a blog; we're a thriving online community where everyone has a voice. Here, you can: <br>
        
        <i class="fa-regular fa-hand-point-right"></i> Create your own profile: Express yourself, share your interests, and connect with others who share your passions.<br>
        <i class="fa-regular fa-hand-point-right"></i> Post anything that sparks your creativity: From insightful articles and captivating photos to funny memes and thought-provoking questions, the possibilities are endless!<br>
        Engage in meaningful conversations: Like, dislike, and comment on posts to share your perspective and build connections.<br>
        <i class="fa-regular fa-hand-point-right"></i> Discover new content: Explore a diverse range of topics and perspectives from a vibrant community of creators.<br><br>
       
        <h3 style='color:green'>Why Kal_Blog?</h3>
        
        This platform was born from the desire to create a space that fosters genuine connection and open communication. We believe that everyone has a story to tell and a unique perspective to share. We want to break down barriers and encourage meaningful interactions. <br><br>
    
        <h3 style='color:green'>Who are we?</h3>
        We're a team of passionate individuals who believe in the power of online communities. We're constantly working to improve the platform and foster a positive and inclusive environment. <br><br>
        <h3 style='color:green'>Ready to join the conversation?</h3>
        Signing up is easy and free! Just create your profile and start exploring the amazing content our community has to offer. We can't wait to welcome you and see what you bring to the table! <br><br>
        <h3 style='color:green'>Stay Connected:</h3>
        
            <i class="fa-regular fa-hand-point-right"></i> Follow us on social media for updates and announcements! (Tg-  https://t.me/kbz_21)<br>
            <i class="fa-regular fa-hand-point-right"></i> Have questions or suggestions? Feel free to reach out to our support team at [mob -0965389441].<br><br>
        
        
        <h4 style='color:green'>Together, let's build a vibrant online community where everyone feels welcome to share their voice and connect with others!</h4>
        
    </div>
{% endblock content %}