{% extends "blog/base.html" %}
{% block content %}

    <article class="media content-section">  
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url}}" alt="">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="">{{object.author}}</a>
                <small class="text-muted">{{object.date_posted}}</small><br><br>

<!--............................ update and delete post code snipet....................-->

                {% if object.author == user %} 
                    <div>
                        <a class="btn btn-outline-success" href="{% url 'blog-update' object.id %}">Update</a> 
                        <a class="btn btn-outline-danger" href="{% url 'blog-delete' object.id %}">Delete</a>
                    </div>
                {% endif %}
                    
            </div>
            <h2><a class="article-title" href="">{{object.title}}</a></h2>
            <p class="article-content">{{ object.content }}</p>
            <br><br>
            <hr>
            <br>

            <form  action="{% url 'like_post' post.pk %} " method="POST">
                {% csrf_token %}

                {% if liked %}
                     <button type="submit" , name="post_id" , value="{{ post.id }}" , 
                     class="btn btn-danger btn-sm"><i  class="fa-solid fa-thumbs-down"></i> UnLike</button> 
                {% else %}

                    <button type="submit" , name="post_id" , value="{{ post.id }}" , 
                     class="btn btn-primary btn-sm"><i  class="fa-solid fa-thumbs-up"></i> Like</button> 
                {% endif %}

                - {{ total_likes}}  Likes
            
            </form>
 
           
        <br>
    </article>

{% endblock content %}