
{% extends 'blog/base.html' %}

{% comment %} {% load crispy_forms_tags %} {% endcomment %}

{% block content %}

<div class="content-section">
    <form action="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Sign In</legend>
            {{ form.as_p }}

            {% comment %} |crispy {% endcomment %}

        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Log In</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-mutted">Do you want an account? </small><a href="{% url 'register' %}"> Register Now</a>

    </div>
</div>
 {% endblock content %}
